<ion-view title="Historial de pagos" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item>24/02/15 - La Cabrera - $1532</ion-item>
            <ion-item>24/02/15 - Mc Donalds - $285</ion-item>
            <ion-item>24/02/15 - Bunika - $430</ion-item>
        </ion-list>
        <button id="historialDePagos-button10" class="button button-assertive  button-block">Limpiar historial</button>
        <ion-list></ion-list>
    </ion-content>
</ion-view>